header {
    display: flex;
    align-items: center;
    background-color: darkgreen;
    color: blueviolet;
    border-bottom: 7px solid yellow;
    padding: 12px;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    z-index: 100;
}