header {
    display: flex;
    align-items: center;
    background-color: darkgreen;
    color: blueviolet;
    border-bottom: 7px solid yellow;
    padding: 12px;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    z-index: 100;
} 
.images
{
    background-image: url('uovmap.jpg');
    height: 170px;
    background-repeat: no-repeat;
    width: 170px;
    background-size: cover;
}
a:hover{
    color:rgb(195, 248, 72);
    
}
a{
    color:white;
    text-decoration: none;
}
.absolute{
    position: absolute;
    padding: 30px;
    top: 1px;
    right: 1px;	
}

.sticky{
    position: sticky;
    background:rgb(23, 45, 23);
    color:black;
    padding: 20px;
    top: 200px;
    left: 123x;
    
}
#im{
    height: 800px;
    background-image: url('resource/uovmap.jpg');
    background-position: center;
    background-size: cover;
    

}