header {
    display: flex;
    align-items: center;
    background-color: darkgreen;
    color: blueviolet;
    border-bottom: 7px solid yellow;
    padding: 12px;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    z-index: 100;
} 


a:hover{
    color:rgb(195, 248, 72);
    
}
a{
    color:white;
    text-decoration: none;
}
.absolute{
    position: absolute;
    padding: 30px;
    top: 1px;
    right: 1px;	
}

.sticky{
    position: sticky;
    background:rgb(23, 45, 23);
    color:black;
    padding: 20px;
    top: 200px;
    left: 123x;
    
}
#im{
    height: 800px;
    background-image: url('resource/uovmap.jpg');
    background-position: center;
    background-size: cover;
    

}
.uf{
    position: sticky;
    background-color: gray;
    color:rgb(4, 78, 53);
    border:5px;  
}
.con{
    margin-top: 1%;
    height: 80%;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-style: solid;
    border-radius: 20px;
    background-color: rgba(2,0,0,0.2);
}